<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Bookers", root_path, class: "navbar-brand" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <li><%= link_to " Home", root_path, class: "fas fa-home nav-link text-light" %></li>
              <% if user_signed_in? %>
                <li><%= link_to " Home", root_path, class: "fas fa-home nav-link text-light" %></li>
                <li><a class="fas fa-users nav-link text-light" href="/users"> Users</a></li>
                <li><a class="fas fa-book-open nav-link text-light" href="/books"> Books</a></li>
                <li><%= link_to " logout", destroy_user_session_path,  class: "fas fa-sign-out-alt nav-link text-light", method: :delete %></li>
              <% else %>
                <li><%= link_to " Home", root_path, class: "fas fa-home nav-link text-light" %></li>
                <li><%= link_to " About", home_about_path, class: "fas fa-link nav-link text-light" %></li>
                <li><a class="fas fa-user-plus nav-link text-light" href="/users/sign_up"> sign up</a></li>
                <li><a class="fas fa-sign-in-alt nav-link text-light" href="/users/sign_in"> login</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main>
      <p id="notice"></p>
      <div class="container">
        <div class="row">
            <%= yield %>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <div class='container mt-5'>
  	    <div class='row'>
    	    <div class='mx-auto'>
    		    <p>CopyRight Infratop.inc</p>
    	    </div>
        </div>
      </div>
    </footer>
  </body>
</html>
